<% provide(:title, 'Entrar') %>
<title><%= full_title(yield(:title)) %></title>
<h1>Users#new</h1>
<h1>Sign up</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :email %>
      <%= f.text_field :email %>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <%= f.label :password_confirmation, "Confirma" %>
      <%= f.password_field :password_confirmation %>
      <%= f.submit "Criar Minha Conta", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

<p>Find me in app/views/users/new.html.erb</p>
